name: dbt_test_beacon
run-name: dbt_test_beacon

on:
  workflow_dispatch:
    branches:
      - "main"

concurrency:
  group: ${{ github.workflow }}

jobs:
  called_workflow_template:
    uses: FlipsideCrypto/fsc-evm/.github/workflows/dbt_run_template.yml@main
    with:
      target: test
      command_name: Run Beacon Tests
      command: dbt test --select "ethereum_models,tag:beacon"
    secrets: inherit