name: dbt_run_scheduled_curated
run-name: dbt_run_scheduled_curated

on:
  workflow_dispatch:
    branches:
      - "main"

concurrency:
  group: ${{ github.workflow }}

jobs:
  called_workflow_template:
    uses: FlipsideCrypto/fsc-evm/.github/workflows/dbt_run_template.yml@main
    with:
      command_name: Run Curated Models
      command: |
        dbt run -m "$PROJECT_NAME,tag:curated" "fsc_evm,tag:curated" "fsc_evm,tag:streamline,tag:balances,tag:complete" "fsc_evm,tag:streamline,tag:balances,tag:records" "fsc_evm,tag:streamline,tag:balances,tag:realtime" "fsc_evm,tag:streamline,tag:stablecoin_reads,tag:complete" "fsc_evm,tag:streamline,tag:stablecoin_reads,tag:realtime" --vars '{"STREAMLINE_INVOKE_STREAMS":True}'
    secrets: inherit