name: dbt_run_scheduled_beacon
run-name: dbt_run_scheduled_beacon

on:
  workflow_dispatch:
    branches:
      - "main"

concurrency:
  group: ${{ github.workflow }}

jobs:
  called_workflow_template:
    uses: FlipsideCrypto/fsc-evm/.github/workflows/dbt_run_template.yml@main
    with:
      command_name: Run Beacon Models
      command: |
        dbt run --select"ethereum_models,tag:beacon"
    secrets: inherit