name: dbt_run_scheduled_curated_daily
run-name: dbt_run_scheduled_curated_daily

on:
  workflow_dispatch:
    branches:
      - "main"

concurrency:
  group: ${{ github.workflow }}

jobs:
  called_workflow_template:
    uses: FlipsideCrypto/fsc-evm/.github/workflows/dbt_run_template.yml@main
    with:
      command_name: Run Curated Daily Models
      command: |
        dbt run -m "fsc_evm,tag:curated_daily"
    secrets: inherit