name: dbt_run_streamline_beacon
run-name: dbt_run_streamline_beacon

on:
  workflow_dispatch:
    branches:
      - "main"

jobs:
  called_workflow_template:
    uses: FlipsideCrypto/fsc-evm/.github/workflows/dbt_run_template.yml@main
    with:
      command_name: Run Beacon Models
      command: |
        dbt run --vars '{"STREAMLINE_INVOKE_STREAMS":True}' --select"ethereum_models,tag:streamline_beacon_realtime" "ethereum_models,tag:streamline_beacon_complete"
    secrets: inherit
